<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/project/css/bootstrap.css">
    <link rel="stylesheet" href="/project/css/main.css">
    <link rel="stylesheet" href="/project/css/position/add.css">
    <script src="/project/js/jquery-2.2.4.js"></script>
    <script src="/project/js/bootstrap.js"></script>
</head>
<body>
    <!-- header -->
    <div id="headerContainer">
        <div id="header">
            <div id="logo">야 너두</div>
            <div id="aside">side</div>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/project/layout.html">지원자</a></li>
                <li><a href="/project/views/matchup/matchup_index.html">매치업</a></li>
                <li><a href="/project/views/matchup/search.html">매치업2</a></li>
                <li><a href="/project/views/position/position.html">포지션</a></li>
                <li><a href="/project/views/info/info.html">회사정보</a></li>
                <li><a href="/project/views/account/account.html">계정관리</a></li>
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
    <!-- header 끝 -->
    
</body>
</html>