<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/project/css/bootstrap.css">
    <link rel="stylesheet" href="/project/css/main.css">
    <link rel="stylesheet" href="/project/css/position.css">
    <script src="/project/js/jquery-2.2.4.js"></script>
    <script src="/project/js/bootstrap.js"></script>
</head>
<body>
    <!-- header -->
    <div id="headerContainer">
        <div id="header">
            <div id="logo">야 너두</div>
            <div id="aside">side</div>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/project/layout.html">지원자</a></li>
                <li><a href="/project/views/matchup/matchup_index.html">매치업</a></li>
                <li><a href="/project/views/matchup/search.html">매치업2</a></li>
                <li><a href="/project/views/position/position.html">포지션</a></li>
                <li><a href="/project/views/info/view.html">회사정보</a></li>
                <li><a href="/project/views/account/account.html">계정관리</a></li>
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
    <!-- header 끝 -->

    <div id="container">
        <!-- section-heade -->
        <div id="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-5"><h1>등록된 모집 공고</h1></div>
                    <div class="btn btn-primary col-md-offset-5">모집공고 등록하기</div>
                </div>
            </div>
        </div>
        <!-- section-heade end -->
    
    
        <!-- section-body -->
        <div id="section-body">
            <div class="row">
                <div class="col-md-4" >
                  <div class="thumbnail position-item" onclick="location.href='/project/views/position/view.html'">
                    <img src="/project/views/image/matchup_image.jpg" alt="...">
                    <div class="caption">
                      <h3>Android developer</h3>
                      <p>내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내</p>
                      <p><a href="#" class="btn btn-primary" role="button">수정하기</a> <a href="#" class="btn btn-default" role="button">삭제하기</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" >
                  <div class="thumbnail position-item" onclick="location.href='/project/views/position/view.html'">
                    <img src="/project/views/image/matchup_image.jpg" alt="...">
                    <div class="caption">
                      <h3>Android developer</h3>
                      <p>내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내</p>
                      <p><a href="#" class="btn btn-primary" role="button">수정하기</a> <a href="#" class="btn btn-default" role="button">삭제하기</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" >
                  <div class="thumbnail position-item" onclick="location.href='/project/views/position/view.html'">
                    <img src="/project/views/image/matchup_image.jpg" alt="...">
                    <div class="caption">
                      <h3>Android developer</h3>
                      <p>내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내</p>
                      <p><a href="#" class="btn btn-primary" role="button">수정하기</a> <a href="#" class="btn btn-default" role="button">삭제하기</a></p>
                    </div>
                  </div>
                </div>
                  <div class="col-md-4 position-item" >
                    <div class="thumbnail finished">
                      <img src="/project/views/image/matchup_image.jpg" alt="...">
                      <div class="caption">
                        <h3>Android developer</h3>
                        <p>내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내내용내</p>
                        <p><a href="#" class="btn btn-primary" role="button">수정하기</a> <a href="#" class="btn btn-default" role="button">삭제하기</a> </p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        <!-- section-body end -->

    </div>

    
</body>
</html>